*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color:#222;
}
img,video{
    vertical-align: middle;
    max-width: 100%;
}
address,i,em{
    font-style:normal;
}
.blind{
    position:absolute;
    top:-9999px;
}
body{
    font-family: "Noto Sans KR",sans-serif;
    font-size:16px;
    color:#000;
}